In [13]:
import pandas as pd

# all clubs
clubs = [
    "Arsenal",
    "Aston Villa",
    "Bournemouth",
    "Brentford",
    "Brighton",
    "Chelsea",
    "Crystal Palace",
    "Everton",
    "Fulham",
    "Ipswich",
    "Leicester",
    "Liverpool",
    "Manchester City",
    "Manchester United",
    "Newcastle United",
    "Nottingham Forest",
    "Southampton",
    "Tottenham",
    "West Ham",
    "Wolverhampton Wanderers",   
]

# ============================== HOME ===================================

home_scored = [
    12,
    7,
    8,
    18,
    11,
    9,
    3,
    5,
    9,
    4,
    5,
    11,
    12,
    7,
    5,
    7,
    4,
    16,
    8,
    9
]

home_conceded = [
    6,
    6,
    4,
    11,
    8,
    8,
    7,
    8,
    7,
    8,
    7,
    3,
    6,
    8,
    3,
    6,
    8,
    6,
    10,
    14,
]

# matchday 11
matches = [5,5,5,6,6,6,6,5,5,5,5,6,5,6,5,6,5,6,6,6]

my_list = zip(matches, home_scored, home_conceded)


# create a dataframe
home_df = pd.DataFrame(
    my_list,
    index=clubs,
    columns=["matches", "scored", "conceded"]
)

print(home_df)

                         matches  scored  conceded
Arsenal                        5      12         6
Aston Villa                    5       7         6
Bournemouth                    5       8         4
Brentford                      6      18        11
Brighton                       6      11         8
Chelsea                        6       9         8
Crystal Palace                 6       3         7
Everton                        5       5         8
Fulham                         5       9         7
Ipswich                        5       4         8
Leicester                      5       5         7
Liverpool                      6      11         3
Manchester City                5      12         6
Manchester United              6       7         8
Newcastle United               5       5         3
Nottingham Forest              6       7         6
Southampton                    5       4         8
Tottenham                      6      16         6
West Ham                       6       8        10
Wolverhampton Wanderers        6       9        14